:root {
	--primary-color: #060B24;
	--secondary-color: #0B1855;
	--tertiary-color: #F2F2F2;
	--quaternary-color: #fff;
}


body {
	margin: 0;
	padding: 0;
}

.page-content {
	min-width: 380px;
}

.app-header {
	position: relative;
	
	@media (max-width: 768px) {
		img.header-image {
			height: 400px !important;
		}
	}
	
	
	.header-content {
		position: absolute;
		top: 30%;
		left: 50%;
		transform: translate(-50%, -30%);
		max-width: 800px;
		width: 100%;
		margin: 0 auto;
		
		.header-content-inner {
			padding: 0 25px;
		}
		
		
		h1 {
			font-size: 60px;
			
			@media (max-width: 768px) {
				font-size: 40px;
			}
			
			@media (max-width: 480px) {
				font-size: 30px;
			}
		}
	}
}

.page-content {
	h2 {
		font-size: 28px;
		margin-bottom: 20px;
		color: #060B24
	}
	
	p, li, input, span, small, label {
		color: #060B24 !important;
	}
	
	.form-inner-wrapper {
		padding: 80px 25px;
	}
	
	.intro {
		max-width: 700px;
		margin: 0 auto;
		text-align: center;
		
		p {
			font-size: 20px;
			margin-bottom: 20px;
			font-weight: 700;
		}
	}
	
	.form-wrapper {
		max-width: 430px;
		margin: 0 auto;
		padding-top: 40px;
		
		input[type="text"], input[type="email"], textarea {
			padding: 12px 24px;
			border-radius: 12px;
			
			&::placeholder {
				color: rgba(0, 0, 0, 0.4);
			}
		}
		
		
		select {
			padding: 12px 24px;
			border-radius: 12px;
			color: rgba(0, 0, 0, 0.4);
		}
		
		.form-check {
			margin-bottom: 10px;
			font-size: 16px;
			
			
			.form-check-input {
				margin-right: 14px;
				width: 24px;
				height: 24px;
			}
			
			.form-check-label {
				padding-top: 4px;
				font-weight: 600;
			}
			
		}
		
		button {
			padding: 12px 24px;
			border-radius: 12px;
			background-image: linear-gradient(to right, var(--primary-color), #0B1855);
			font-weight: 700;
		}
	}
}

.login {
	position: absolute;
	top: 10px;
	right: 10px;
	
	button {
		background: transparent;
		border: none;
		
		&:hover {
			background: #fff;
			color: #111;
		}
	}
}

.lead-form-wrapper {
	.nav-menu {
		background-image: linear-gradient(to bottom, #f1f1f1, transparent);
		
		a {
			text-decoration: none;
			font-size: 20px;
			transition: all 0.3s;
			padding: 4px 12px;
			border-radius: 10px;
			
			&:hover {
				background: var(--primary-color);
				color: #fff !important;
			}
		}
	}
	
	.menu-col {
		min-width: 200px;
		max-width: 250px;
		width: 100%;
	}
}

.table-outer {
	border: 1px solid #f2f2f2;
}

table.table {
	width: 100%;
	border-collapse: collapse;
	
	th, td {
		padding: 12px;
		text-align: left;
		background: #fff;
	}
	
	th {
		font-weight: normal;
		color: rgba(0, 0, 0, 0.4) !important;
	}
}
